<h1>Welcome to Scrabble</h1>
<form action="/score">
  <div class="form-group">
     <label for="title">What word would you like to see the scrabble score of?
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Score</button>
</form>
